<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nilhcem.blefun.mobile">
    <!-- Permisos de funcionamiento -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.bluetooth_le" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true">
        <activity android:name=".info_paciente_Activity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Search_paciente_Activity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".llenado_formulario"
            android:parentActivityName=".llenado_formulario"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".confirmar_formulario"
            android:parentActivityName=".confirmar_formulario"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity android:name=".Seleccion" />
        <activity
            android:name=".scan.ScanActivity"
            android:parentActivityName=".Seleccion"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemes" />
        <activity android:name=".SwtichActivity" />
        <activity
            android:name=".MenuPricipal"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBar">

            <!-- se agrega intent -filter a activity principal o por default y solamente hay uno por aplicacion -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".interact.InteractActivity" />
        <activity android:name=".interact.InteractActivity2" />
    </application>

</manifest>